/* Archivo: src/components/EmpleoFormulario/EmpleoFormulario.module.scss */
.form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  @include respond-up(md){
    max-width: 20vw;
    padding: 2rem;
    margin: 2rem;
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: white;
  color: black;
  border-left: none;
  border-right: none;
  border-top: none;
}

input[type="file"] {
  padding: 0.75rem;
}

.submitButton {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--color-secondary);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  @include respond-up(md){
    margin: 2rem 0;
  }
}

.submitButton:hover {
  background-color: #0056b3;
}
