/* src/components/HomeHero/HomeHero.module.scss */
.heroContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* 2 niveles arriba: HomeHero.module.scss → components/HomeHero → components */
  background-image: url('../../assets/images/HomeHero/background.webp');
  background-size: cover;
  background-position: center;

  @include respond-up(md) {
    flex-direction: row;
    height: 60vh;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: center;

    @include respond-up(md) {
      align-items: flex-start;
      text-align: left;
      padding: 4rem;
    }

    .title {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: var(--color-primary);

      @include respond-up(md) {
        font-size: 3.5rem;
        line-height: 0;
      }
    }

    .subtitle {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      color: white;


      @include respond-up(md) {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include respond-up(md) {
        flex-direction: row;
        gap: 2rem;
      }

      button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border-radius: 2px;
        cursor: pointer;
      }

      .ctaPrimary {
        background-color: #BECC00;
        border: 1px solid #BECC00;
        color: #242424;
        font-weight: 600;
      }

      .ctaOutline {
        background-color: transparent;
        border: 1px solid #242424;
        color: #242424;
      }
    }
  }

  .right {
    flex: 1;
    background-image: url('../../assets/images/HomeHero/image.webp');
    background-size: cover;
    background-position: center;
    min-height: 250px;

    @include respond-up(md) {
      min-height: 0;
    }
  }
}
