/* src/components/GeneralContacto/GeneralContacto.module.scss */
$transition-speed: 0.3s;
$hover-scale: 1.05;

.container {
  width: 100vw;
  background-image: url('../../assets/images/GeneralContacto/general-contacto-background.webp');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 0em;
  display: flex;
  align-items: center; 
  justify-content: center;

  @include respond-up(md) {
    padding: 2em;
    min-height: 60vh;
  }
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @include respond-up(md){
    width: 100%;
  }

}

.loading {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  width: 80%;
  margin: 0;
  text-align: left;
  min-width: 0;

  @include respond-up(md){
    padding: 1.5rem;
    width: 100%;
  }

  > * {
    max-width: 540px;
    width: 100%;
  }

  > * + * {
    margin-top: 1rem;
  }

}
