.sectionTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1.5rem;

  @include respond-up(md) {
    margin: 2rem auto;
  }
}

.lineLeft,
.lineRight {
  display: none;

  @include respond-up(md) {
    display: block;
    flex: 1;
    height: 1px;
    background: var(--color-primary);
    position: relative;
  }
}

.lineLeft {
  @include respond-up(md) {
    margin-right: 2rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1em;
      height: 1em;
      background: var(--primary-color);
      border-radius: 50%;
    }
  }
}

.lineRight {
  @include respond-up(md) {
    margin-left: 2rem;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1em;
      height: 1em;
      background: var(--primary-color);
      border-radius: 50%;
    }
  }
}

.title {
  font-size: var(--mobile-title);
  color: var(--color-secondary);
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-weight: bold;

  @include respond-down(md) {
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      margin-top: 0.5rem;
      background: linear-gradient(to right, green 20%, black 20%);
    }
  }

  @include respond-up(md) {
    font-size: var(--desktop-title);
    margin: 1rem auto;
  }
}

.listingsSection {
  max-width: 1200px;
  margin: 0 auto;

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
  }

  .card {
    background-color: #ffffff;
    padding: 1.5rem;
    border: 0.5px solid var(--secondary-color);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(65, 65, 65, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      color: #333333;
      
      @include respond-up(md){
        font-size: var(--desktop-subtitle);
      }
    }

    p {
      margin-bottom: 0.75rem;
      font-size: 0.95rem;
      line-height: 1.4;
      color: #555555;

      strong {
        color: #007BFF;
      }
    }

    .cardButton {
      background-color: #28a745;
      color: #ffffff;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.375rem;
      font-size: 0.95rem;
      cursor: pointer;
      transition: background-color 0.2s ease, box-shadow 0.2s ease;
      text-align: center;

      &:hover {
        background-color: #218838;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
