.hero {
  position: relative;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  align-items: flex-end;
  color: white;
  height: auto;

  @include respond-down(md) {
    min-height: 240px;
  }

  @include respond-up(md){

  }

  .overlay {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  .breadcrumb {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  margin: 0;
    width: 100%;

  display: flex;              // <-- alineación horizontal explícita
  justify-content: flex-start; // <-- alinear a la izquierda
  align-items: center;         // <-- opcional: centrar verticalmente

    .separator {
      margin: 0 0.5rem;
    }
  }

  .title {
    margin: 2rem 0;
    font-size: 2rem;

    @include respond-up(md) {
      font-size: 5rem;
      color: var(--primary-color);
      text-align: left;
text-transform: uppercase;
    }
  }

  .meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      strong {
        margin-right: 0.25rem;
      }
    }
  }
}

.link {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
