{
    "FTP_USER": "userentrecomillas",
    "FTP_PASSWORD": "passwordentrecomillas",
    "FTP_HOST": "hostentrecomillas",
    "FTP_PORT": numerosincomillas.
    "APP_URL": "urlentrecomillassinslashfinal"
}