.form {
  display: flex;
  flex-direction: column;
  gap: var(--margin-base);
  padding: var(--padding-base);
}

.input {
  padding: var(--padding-base);
  border: 1px solid var(--secondary-hover);
}

.button {
  padding: var(--padding-base);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}
