.homePorQue {
  background: url('../../assets/images/HomePorQue/background.webp') center/cover no-repeat;
  padding: 2rem 1rem;
  color: white;
  min-height: 50vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sectionTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1.5rem;

  @include respond-up(md) {
    margin: 2rem auto;
  }
}

.lineLeft,
.lineRight {
  display: none;

  @include respond-up(md) {
    display: block;
    flex: 1;
    height: 1px;
    background: green;
    position: relative;
  }
}

.lineLeft {
  @include respond-up(md) {
    margin-right: 2rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1em;
      height: 1em;
      background: green;
      border-radius: 50%;
    }
  }
}

.lineRight {
  @include respond-up(md) {
    margin-left: 2rem;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1em;
      height: 1em;
      background: green;
      border-radius: 50%;
    }
  }
}

.title {
  font-size: var(--mobile-title);
  color: white;
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-weight: bold;

  @include respond-down(md) {
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      margin-top: 0.5rem;
      background: linear-gradient(to right, green 20%, black 20%);
    }
  }

  @include respond-up(md) {
    font-size: var(--desktop-title);
    margin: 1rem auto;
    line-height: 1;
  }
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;

  @include respond-up(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3rem;
  }
}

.item {
  text-align: center;
  flex: 1;
  padding: 1rem;
}

/* Nuevo contenedor para la imagen */
.imageContainer {
  background: var(--primary-color);
  padding: 1rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 0.5rem;
}

/* Ajustamos la imagen al contenedor */
.imageContainer img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.item h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.item p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  line-height: 1.4;
}
