.container {
  padding: var(--padding-base);
  min-height: 90vh;
}

.button {
  margin-right: var(--margin-base);
  padding: var(--padding-base) var(--margin-base);
  background-color: var(--tertiary-background);
  border: none;
  cursor: pointer;
  color: var(--footer-font);
  border-radius: 4px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: lightblue;
  }
}
